@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Servicio en la Nube</h1>
    <p class="lead">Alumnos:</p>
    <p class="lead"> >> Marañes, Rodrigo</p>
    <p class="lead"> >> Santisteban, William</p>
    <p class="lead"> >> Stelzer, Agustin</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Ver la presentación</a></p>
</div>